@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="card" style="width: 100%;">
        <img src="~/Images/stone-2127669_1920.png" )" class="card-img-top position-relative" alt="...">
        <h1 class="position-absolute  text-white-50" style="right:3%;top:30%; transform:rotate(35deg)">Final Challenge</h1>


    </div>
</div>
