@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="card" style="width: 100%;">
        <img src="~/Images/stone-2127669_1920.png" )" class="card-img-top position-relative" alt="...">
        <h2 class="position-absolute" style="right:3%;top:50%; transform:rotate(30deg)">Final Challenge</h2>
        
        
    </div>
</div>
