
@{
    ViewData["Title"] = "Razor pager handler Method";
}



<div class="card">
    <h1 class="card-header">@ViewData["Title"]</h1>
    <div class="card-body ">
        @Model.Message
    </div>

</div>