@{
    ViewData["Title"] = "Razor Event handlers";
}

<div class="card">
    <h1 class="card-header">@ViewData["Title"]</h1>
    <div class="card-body ">
        <h4>What are Razor pages</h4>
        <p>Razor pages are simple and introduce a page-focused framework that is used to create cross-platform, data-driven, server-side web pages with clean separation of concerns.</p>
        <h4>Handler Methods in Razor Pages</h4>
        <p>Handler methods in Razor Pages are methods that are automatically executed as a result of a request. The Razor Pages framework uses a naming convention to select the appropriate handler method to execute. The default convention works by matching the HTTP verb used for the request to the name of the method, which is prefixed with "On": <span class="text-danger">OnGet()</span>, <span class="text-danger">OnPost()</span>, <span class="text-danger">OnEdit()</span></p>
        <small>I made the very simple example of onGet(), onPost() with Razor Pages</small>
        <a href="https://github.com/damiansoch/RazorSample/tree/master/RazorSample">Github</a>
    </div>

</div>